@keyframes new-card-animation {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

@keyframes remove-card-animation {
    from {
        opacity: 1;
        transform : translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100px);
    }
}

.card-onBoard {
    opacity: 0;
    animation: new-card-animation .3s linear forwards;
}

.animation-remove-card {
    opacity: 1;
    animation: remove-card-animation .3s linear forwards;
}

.card-exit {
    opacity: 0;
    transition: opacity 700ms ease-out;
}

.card-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-out;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    box-sizing: border-box;
    border: 4px solid;
    word-break: break-word;
}

.card-owner-player-0 {
    border-color: var(--color1);
    color: var(--color1);
}

.card-owner-player-1 {
    border-color: var(--color2);
    color: var(--color2);
}

.card-owner-player-2 {
    border-color: var(--color3);
    color: var(--color3);
}

.card-owner-player-3 {
    border-color: var(--color4);
    color: var(--color4);
}

.card-hidden {
    background-color: #ccc;
}

.player-color-0 {
    color: var(--color1);
}

.player-color-1 {
    color: var(--color2);
}

.player-color-2 {
    color: var(--color3);
}

.player-color-3 {
    color: var(--color4);
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 700ms, transform 300ms;
}
